p{
    margin: 8px;
    padding: 8px;
    border: 2px solid lime;
}

 /* #div1 {
     margin: 8px;
     padding: 8px;
     border: 2px solid red;
     height: 250px;
     width: 500px;
     background-color: azure;
 } */